<html>
    <head>
        <title>Ingam</title>
        <link rel="stylesheet"href="css/ingame.css">
    </head>
    <body>
        <!-- <% if(name === "ingame") { %>
            <p>This Our ingame page <%= name %></p>
        <% } else { %>
            <p>Hello <%= name %></p>
        <% } %> -->


        <h1>This is Our InGame page</h1>
    </body>
</html>