<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet"href="css/homePage.css">
    </head>
    <body>
        <!-- <% if(name === "Home") { %>
            <p>This Our Home page <%= name %></p>
        <% } else { %>
            <p>Hello <%= name %></p>
        <% } %> -->


        <h1>This is Our Home page</h1>
       
    </body>
</html>